<!-- https://docs.djangoproject.com/en/5.0/topics/auth/default/#django.contrib.auth.views.LoginView -->
<!-- https://getbootstrap.com/docs/5.2/examples/sign-in/ -->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block style %}
    <style>
        .form-login .form-floating:focus-within {
            z-index: 2;
        }

        .form-login input[type='text'] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-login input[type='password'] {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    <div class='d-flex justify-content-center align-items-center min-vh-100 bg-light'>
        <form class='form-login' style='min-width: 25%' method='post'>
            {% csrf_token %}
            <h1 class='h3 mb-3 fw-normal'>Please login</h1>
            <div class='form-floating'>
                <input class='form-control'
                       type='text'
                       name='username'
                       autocapitalize='none'
                       autofocus
                       autocomplete='username'
                       id='id_username'
                       placeholder='username'
                       required>
                <label for='id_username'>Username</label>
            </div>
            <div class='form-floating'>
                <input class='form-control'
                       type='password'
                       name='password'
                       autocomplete='current-password'
                       id='id_password'
                       placeholder='password'
                       required>
                <label for='id_password'>Password</label>
            </div>
            {% if form.errors %}
                <p class='mt-3'>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <input class='w-100 mt-3 btn btn-lg btn-primary'
                   type='submit'
                   value='Login'>
            <input type='hidden'
                   name='next'
                   value='{{ next }}'>
            <p class='mt-5 text-muted'>&copy; 2023–2024</p>
        </form>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
