{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block style %}
    <style>
        .active {
            background-color: rgba(47, 140, 255, 1);
            color: white;
        }

        .active a {
            color: white;
        }

        .notstarted a {
            color: black
        }

        .completed {
            background-color: rgba(245, 245, 245, 0.4);
            color: rgba(0, 0, 0, 0.5);
        }

        .completed a {
            color: rgba(0, 0, 0, 0.5);
        }

        .card:hover {
            cursor: pointer;
            border-width: thick;
        }
    </style>
{% endblock %}

{% block main %}
    <div class='container mt-5 mb-5'>
        <!-- Description -->
        <div class='row'>
            <h2 class='mb-3'>Your Projects</h2>
            <p>Click on a project to view or update its details.</p>
        </div>
        <!-- Navigation -->
        <div class='row mb-4'>
            <!-- Search Bar -->
            <div class='col-5'>
                <form class='input-group' method='GET'>
                    <input class='form-control shadow-none'
                           type='text'
                           id='searchBar'
                           name='search'
                           value='{{ request.GET.search }}'
                           placeholder='Search for a project ... '
                           autofocus
                           onfocus='this.setSelectionRange(this.value.length,this.value.length);'>
                    <label for='searchBar'></label>
                    <button class='btn btn-success'
                            type='submit'>Go
                    </button>
                    <a class='btn btn-secondary text-white text-decoration-none'
                       href='{% url 'project-list' %}'>Clear</a>
                </form>
            </div>
            <!-- Spacing -->
            <div class='col-5'></div>
            <!-- Create Button -->
            <div class='col-2'>
                <a class='btn btn-primary'
                   href={% url 'project-create' %}>Create Project</a>
            </div>
        </div>
        <!-- Cards -->
        <div class='row'>
            {% for project in projects %}
                <div class='col-sm-4'>
                    <div class='card mt-3 {{ project.get_status_display|cut:' '|lower }}'
                         onclick="window.location.href='{% url 'project-update' project.id %}'">
                        <div class='card-body'>
                            <h5 class='card-title mb-3'>{{ project.name }}</h5>
                            <p class='card-text mb-2'>{{ project.get_status_display }}</p>
                            <p class='card-text mb-2'>
                                {{ project.start_date|date:'d/m/Y' }} - {{ project.end_date|date:'d/m/Y' }}
                            </p>
                            <p class='card-text mb-2'>
                                {{ project.point_progress.completed }}/{{ project.point_progress.total }}
                                story points achieved
                            </p>
                            <p class='card-text mb-2'>
                                {{ project.task_progress.completed }}/{{ project.task_progress.total }}
                                tasks completed
                            </p>
                            <p class='card-text'>{{ project.get_log_time_display }} logged</p>
                            <a class='card-link'
                               href='{% url 'project-detail' project.id %}'>Dashboard</a>
                            <a class='card-link'
                               href='{% url 'member-list' project.id %}'>Team</a>
                            <a class='card-link'
                               href='{% url 'sprint-list' project.id %}'>Sprints</a>
                            <a class='card-link'
                               href='{% url 'task-list' project.id %}'>Tasks</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
