{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block main %}
    <div class='container mt-5 mb-5'>
        <!-- Description -->
        <h2 class='mb-3'>{{ project.name }}'s Tasks</h2>
        <p>View your tasks ordered by due date descending.</p>
        <p>Click on a task to view or edit its details.</p>
        <!-- Navigation -->
        <div class='d-flex flex-wrap'>
            <!-- Search Bar -->
            <div class='me-auto mb-2'>
                <form class='input-group' method='GET'>
                    <input class='form-control shadow-none'
                           type='text'
                           name='search'
                           aria-label='search'
                           value='{{ request.GET.search }}'
                           placeholder='Search for a task ... '
                           autofocus
                           onfocus='this.setSelectionRange(this.value.length,this.value.length);'>
                    <button class='btn btn-success'
                            type='submit'>Go
                    </button>
                    <a class='btn btn-secondary text-white text-decoration-none'
                       href='{% url 'task-list' project.id %}'>Clear</a>
                </form>
            </div>
            <!-- Create Button -->
            <div class='me-5'>
                <a class='btn btn-primary'
                   href={% url 'task-create' project.id %}>Create Task</a>
            </div>
        </div>
        <!-- Table View -->
        <div class='table-responsive mt-3'>
            <table class='table table-hover'>
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Sprint</th>
                    <th>Priority</th>
                    <th>Due Date</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Estimation</th>
                    <th>Log Time</th>
                </tr>
                </thead>
                <tbody class='table-group-divider'>
                <!-- Rows -->
                {% for task in tasks %}
                    <tr style='cursor: pointer;'
                        onclick="window.location.href='{% url 'task-update' project.id task.id %}'">
                        <td>{{ task.name }}</td>
                        <td>{{ task.sprint }} </td>
                        <td>{{ task.get_priority_display }}</td>
                        <td>{{ task.get_due_date_display }}</td>
                        <td>{{ task.get_type_display }} </td>
                        <td>{{ task.get_status_display }}</td>
                        <td>{{ task.get_story_points_display }}</td>
                        <td>{{ task.get_log_time_display }}</td>
                        {% if task.is_important == True %}
                            <td>
                                <span class='badge bg-danger'>!</span>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
