{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}{% if object %}Update{% else %}New{% endif %} Task{% endblock %}

{% block main %}
    <div class='container p-5 my-5 border'>
        <form method='post'>
            <h2 class='mb-3'>{% if object %}Update{% else %}New{% endif %} Task</h2>
            {% csrf_token %}
            {% bootstrap_form form %}
            <!-- Assignees -->
            <div class='container mb-5'>
                <table class='table'>
                    <thead>
                    <tr>
                        <th>Assignee</th>
                        <th>Hours Worked</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ formset.management_form }}  <!-- Hidden data required by Django -->
                    {% for form in formset.forms %}
                        <tr>
                            {{ form.id }}  <!-- Hidden field required by Django -->
                            <td>{% bootstrap_field form.user %}</td>
                            <td>{% bootstrap_field form.hours_worked %}</td>
                            <td>
                                <!-- Manually hide this field that acts as delete flag for Django -->
                                <div style='display: none'>{{ form.DELETE }}</div>
                                <!-- Remove Assignee Button -->
                                <button type='button' class='btn btn-outline-light'
                                        onclick='removeAssignee(this)'>🗑️
                                </button>
                            </td>
                            <td> <!-- Errors column -->
                                {% for _, error in form.errors.items %}
                                    {{ error }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Add Assignee Button -->
                <button type="button" class="btn btn-sm btn-light" onclick="addAssignee()">+Add</button>
            </div>
            <!-- Submit -->
            <input class='btn btn-primary'
                   type='submit'
                   value='{% if object %}Save{% else %}Create{% endif %}'>
            <!-- Cancel -->
            <button class='btn btn-secondary text-white text-decoration-none'
                    onclick='history.back()'>Cancel
            </button>
            <!-- Delete -->
            {% if object %}
                <button class='btn btn-danger'
                        type='button'
                        data-bs-toggle='modal'
                        data-bs-target='#staticBackdrop'>Delete
                </button>
            {% endif %}
        </form>
        <!-- Modal -->
        <div class='modal fade'
             id='staticBackdrop'
             data-bs-backdrop='static'
             data-bs-keyboard='false'
             tabindex='-1'
             aria-labelledby='staticBackdropLabel'
             aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h5 class='modal-title'
                            id='staticBackdropLabel'>Please Confirm</h5>
                        <button type='button'
                                class='btn-close'
                                data-bs-dismiss='modal'
                                aria-label='Close'></button>
                    </div>
                    <div class='modal-body'>
                        Are you sure you want to delete this task?<br>
                    </div>
                    <div class='modal-footer'>
                        <button type='button'
                                class='btn btn-secondary'
                                data-bs-dismiss='modal'>Close
                        </button>
                        <button type='button'
                                class='btn btn-primary'
                                onclick="document.getElementById('deleteForm').submit()">Understood
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Form -->
    {% if object %}
        <form id='deleteForm' method='post' action={% url 'task-delete' project.id object.id %}>
            {% csrf_token %}
        </form>
    {% endif %}
    <!-- Script -->
    <script>
        const myModal = document.getElementById('myModal');
        const myInput = document.getElementById('myInput');
        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
    <!-- Script -->
    <script src="{% static 'scripts/assignee.js' %}"></script>
{% endblock %}